.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  /* background-color: #d0ebff; */
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) !important;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar .brand img {
  width: 100px;
  margin-right: 10px;
}

.navbar .navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none !important;
}

.navbar .navLinks .link {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.navbar .navLinks .link:hover {
  color: #1971c2;
  transition: all 0.3s;
}

.navbar .searchBox {
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #1971c2;
  border-radius: 5px;
  background-color: #fff;
}

.navbar .searchBox input {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  width: 400px;
}

.navbar .searchBox img {
  width: 20px;
  height: 20px;
}

.navbar .authButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .authButtons .login,
.navbar .authButtons .signup {
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.navbar .authButtons .login {
  background-color: #fff;
  color: #1971c2;
  border: 2px solid #1971c2;
}

.navbar .authButtons .login:hover,
.navbar .authButtons .login:visited {
  background-color: #1971c2;
  color: #fff;
  transition: all 0.3s;
}

.navbar .authButtons .signup {
  background-color: #1971c2;
  color: #fff;
  border: none;
}

.navbar .authButtons .signup:hover,
.navbar .authButtons .signup:visited {
  background-color: #155b96;
  transition: all 0.3s;
}
